<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="dev">
        <bean id="userProfile" class="com.shitu.cloud.mybatis.bean.User" c:lyb="lyblg-dev"/>
    </beans>
    <beans profile="test">
        <bean id="userProfile" class="com.shitu.cloud.mybatis.bean.User" c:lyb="lyblg-test"/>
    </beans>
    <beans profile="prod">
        <bean id="userProfile" class="com.shitu.cloud.mybatis.bean.User" c:lyb="lyblg-prod"/>
    </beans>

</beans>